
<footer>
    <div>
      <div class="row " style="width:100%">
        <div class="col-md-3 foot-box">
          <h4 style="color: #fff;">Sitemap</h4>
          <a href="/" class="decoration">
            <div>Home</div>
          </a>
          <a href="/about" class="decoration">
            <div>About</div>
          </a>
          <a href="/contact" class="decoration">
            <div>Contact Us</div>
          </a>
          <hr>
        </div>

        <div class="col-md-3 foot-box">
          <h4 style="color:#fff;">Support</h4>
          <a href="" class="decoration">
            <div>Disclamier</div>
          </a>
          <a href="" class="decoration">
            <div>FAQ's</div>
          </a>
          <a href="/privacy" class="decoration">
            <div>Privacy Policy</div>
          </a>
          <a href="/tandc" class="decoration">
            <div>Terms and Conditions</div>
          </a>
        </div>
        <div class="col-md-3 foot-box">
          <h4 >Customer Care</h4>
          <a href="" class="decoration">
            <div>Timings: 10AM-6PM (Mon-Sat)</div>
          </a>
          <a href="" class="decoration">
            <div>Call: +91 9538531818</div>
          </a>
          <a href="" class="decoration">
            <div>Email: info@pickntrack.com/
              pickntrack@gmail.com</div>
          </a>
        </div>
        <div class="col-md-3 foot-box">
          <h4>Subscribe</h4>
          <a href="" class="decoration">
            <div>Want to receive amazing updates from Pick’N Track?</div>
          </a>
          <div class="main">

            <div class="contants"> <br>
              <div class="alice-bg  d-block d-xs-block d-sm-block d-md-block d-lg-block d-xl-block se">
                <div class="search1">
                  <div class=" search_in1">
                    <img src="images/mail.png" class="mail" alt="">
                    <input class="d-block  d-xs-block d-sm-block d-md-block d-lg-block d-xl-block  search1"
                      type="search" placeholder="Enter your email">
                  </div>
                </div>
              </div>

            </div>
         
          </div>
        </div>
      </div>
    </div>

</div>
<!--copy right-->

</footer>
<div class="footer-foot" style="width: 100%;">
<div class="footer-foot-item">
<a href=""><i class="m-1 bi bi-twitter"></i></a>
<a href=""><i class="m-1 bi bi-facebook"></i></a>
<a href=""><i class="m-1 bi bi-instagram"></i></a>
<a href=""><i class="m-1 bi bi-github"></i></a>
</div>
<div class="cprt" >
<p style="color:#fff">Copyright © 2020 All rights reserved.</p>
</div>
</div>