<%-include('partials/header')-%>
<link rel="stylesheet" href="../assets/contact.css">

<div class="container-fluid">
    <div style="height: 150px; background-color:white; width:100%"></div>
          <div class="top d-block d-sm-block d-md-block d-lg-block bg-header">
            <div class="row">
                
                    <div class="col-md-6" >  <!--frame18-->
                        <div class="top_left" id="land1"> <br><br><br><br><br><br>
                            <b class="moving">Contact Us</b>
                           
                           <br> <br>
                            <p class="regular">We Are Accredited</p>
                            
                        </div>
    
                    </div>
                     <div class="col-md-6"> <br>
                      <img src="images/contact.png" alt="" class="main-img">
                    </div>
                </div>
          </div>
          </div> 
        </div>
    <!--main sect end-->
    <%-include('partials/thankspopup')-%>
    <!--card start-->
<div style="height: 80px;"></div>
    <div class="container" style="padding-left: 130px;">
        <div class="row">
           
           <div class="col-md-3 card-box">
            <center class="pp">
            <div class="cir">
                <i class="fa fa-map-marker map" aria-hidden="true"></i>
               </div>
            </center>
               <div>
                <center><b class="our"> <p></p> Our Address</b></center>
                
                <center class="add">
                   <br> 118 Singanayakanahalli Yelahanka Hobli Bangalore North, near Navachethana School, Bangalore, Karnataka-560064, India</center>
               </div>
           </div>
           <div class="col-md-1 "></div>
<!--2 box-->
           <div class="col-md-3 card-box">
            <center class="pp">
                <div class="cir">
                    <i class="fa fa-phone map1" aria-hidden="true"></i>
                   </div>
                </center>
                   <div>
                    <center><b class="our"> <p></p> Our Address</b></center>
                    
                    <center class="add">
                       <br> 118 Singanayakanahalli Yelahanka Hobli Bangalore North, near Navachethana School, Bangalore, Karnataka-560064, India</center>
                   </div>
           </div>
           <div class="col-md-1 "></div>
           <div class="col-md-3 card-box">
            <center class="pp">
                <div class="cir">
                    <i class="fa fa-envelope map2" aria-hidden="true"></i>
                   </div>
                </center>
                   <div>
                    <center><b class="our"> <p></p> Our Address</b></center>
                    
                    <center class="add">
                       <br> 118 Singanayakanahalli Yelahanka Hobli Bangalore North, near Navachethana School, Bangalore, Karnataka-560064, India</center>
                   </div>
           </div>
    </div>
        </div>


<!--card end-->
<div style="height: 80px;"></div>

<div class="container">
    <div class="contact-discover">
     <b class="location"> Get In Touch</b>
    </div>
</div>
<!--Get in touch-->

<div class="container">
   
 <div class="row form">
    <b class="form-com contact-form-heading" >Contact Us</b> <br>
    <form class="form-set" method="post" >
        <div class="form-inputs">
       
            <div class="col-md- 12 contact-name">
             <b>  <label> <br>  Name*</label>  </b> 
            </div>
            <div class="col-md-12 ">
                <input type="text" class="place" placeholder="" name="name" required>
            </div>
            <br>
            <div class="col-md- 12 contact-name">
                <b>  <label>E-mail*</label>  </b> 
               </div>
               <div class="col-md-12 ">
                   <input type="e-mail" class="place" placeholder="" name="email" required>
               </div>
               <br>

               <div class="col-md- 12 contact-name">
                   <b>  <label>Phone Number*</label>  </b> 
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                  <div class="col-sm-1 col-md-1 col-lg-1  ">
                      <select class="place" name="countrycode">
                        <option value="+91">+91</option>
                        <option value="+31">+31</option>
                        <option value="+02">+02</option>
                        <option value="+15">+15</option>
                    </select>
                  </div>
                  <div class="col-md-11 ">
                    <input type="text" class="place" placeholder="" name="phone" required>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md- 12 contact-name">
            <b>  <label>Location*</label>  </b> 
           </div>
           <div class="col-md-12 ">
               <input type="text" class="place" placeholder="" name="location" required>
           </div>
           <br>
           <div class="col-md- 12 contact-name">
            <b>  <label>Query*</label>  </b> 
           </div>
           <div class="col-md-12 ">
            <select class="place" name="query">
                
                <option class="choose"> Choose the Query Type</option>
                <option value="Business Inquiry" >Business Inquiry</option>
                <option value="Complaint">Complaint </option>
                <option value="Suggestion">Suggestion </option>
                <option value="Feedback">Feedback</option>
                <option value="Career"> Career </option>
            </select>
           </div>
           <br>
           <div class="col-md- 12 contact-name">
            <b>  <label>Message*</label>  </b> 
           </div>
           <div class="col-md-12 ">
               <input type="text" class="place" placeholder="" name="message" required>
           </div>
           <br>
           <button class="btn text-white rounded-3 submit" type="submit">Submit</button>
    </form>
</div>
   </div>
</div>
<footer>
    <div style="width: 97.9vw">
      <div class="row">
        <div class="col-md-3 foot-box">
          <h4 style="color: #fff;" class="site">Sitemap</h4>
          <a href="/" class="decoration">
            <div class="site">Home</div>
          </a>
          <a href="/about" class="decoration">
            <div class="site">About</div>
          </a>
          <a href="/contact" class="decoration">
            <div class="site">Contact Us</div>
          </a>
          <hr>
        </div>
  
        <div class="col-md-3 foot-box">
          <h4 style="color:#fff;" class="site">Support</h4>
          <a href="" class="decoration">
            <div class="site">Disclamier</div>
          </a>
          <a href="" class="decoration">
            <div class="site">FAQ's</div>
          </a>
          <a href="/privacy" class="decoration">
            <div class="site">Privacy Policy</div>
          </a>
          <a href="/tandc" class="decoration">
            <div class="site">Terms and Conditions</div>
          </a>
        </div>
        <div class="col-md-3 foot-box">
          <h4 class="site">Customer Care</h4>
          <a href="" class="decoration">
            <div class="site">Timings: 10AM-6PM (Mon-Sat)</div>
          </a>
          <a href="" class="decoration">
            <div class="site">Call: +91 9538531818</div>
          </a>
          <a href="" class="decoration1">
            <div class="site">Email: info@pickntrack.com/
              pickntrack@gmail.com</div>
          </a>
        </div>
        <div class="col-md-3 foot-box">
          <h4 class="site">Subscribe</h4>
          <a href="" class="decoration1">
            <div class="site">Want to receive amazing updates </div>
            <div class="site"> from Pick’N Track?</div>
          </a>
       
  
          <div class="main">
  
            <div class="contants"> <br>
              <div class="alice-bg  d-block d-xs-block d-sm-block d-md-block d-lg-block d-xl-block se">
                <div class="search1">
                  <div class=" search_in1">
                    <img src="images/mail.png" class="mail" alt="">  
                    <input class="d-block  d-xs-block d-sm-block d-md-block d-lg-block d-xl-block  search1"
                      type="search" placeholder="Enter your email">
                 
                  </div>
                 
                </div>
              </div>
              <img src="images/arrow_forward.png" alt="" class="arrow">  
              <img src="images/Line 16.png" alt="" class="playline">
              <div style="color: #fff; " class="site">Pick N Track App coming Soon On Google Play & Apple Store</div> 
              <br>
              <img src="images/play-store.png" alt="" class="siteplay">
          <a href="" class="m-2 fafa-apple"><i class="fa fa-apple " aria-hidden="true"></i> </a>    
            </div>
        
          </div>   <!--main end-->
       
        </div>
        
      </div>
    </div>
  
  </div>
  <!--copy right-->
  
  </footer>
  <div class="footer-foot" style="width:100vw">
  <div class="footer-foot-item">
  <a href="" class="fafa-foot"><i class="m-2 bi bi-twitter"></i></a>
  <a href="" class="fafa-foot"><i class="m-2 bi bi-facebook"></i></a>
  <a href="" class="fafa-foot"><i class="m-2 fa fa-linkedin-square " style="font-size:26px"></i> </a>
  <a href="" class="fafa-foot"><i class="m-2 fa fa-pinterest" aria-hidden="true"></i></a>
  <a href="" class="fafa-foot"><i class="m-2 fa fa-youtube-play" aria-hidden="true"></i></a>
  
  </div>
  <div class="cprt" >
  <p style="color:#fff; font-size:14px;">Copyright © 2020 All rights reserved.</p>
  
  </div>
  <img src="images/razor.png" alt="" class="razor">
  </div>

<script>
    var thankspopupstatus = '<%=message%>';
    if(thankspopupstatus=='false')
    {
        document.getElementById('thankspopup').style.display='none'
    }
    document.getElementById('closethankspopup').addEventListener('click',function()
     {
        document.getElementById('thankspopup').style.display='none'
     })
</script>