<%-include('partials/header')-%>
<div class="container-fluid">
    <div style="height: 150px; background-color:white; width:100%"></div>
          <div class="top d-block d-sm-block d-md-block d-lg-block bg-header">
            <div class="row">
                
                    <div class="col-md-6" >  <!--frame18-->
                        <div class="top_left" id="land1"> <br><br><br><br><br><br>
                            <b class="moving">Contact Us</b>
                           
                           <br> <br>
                            <p class="regular">We Are Accredited</p>
                            
                        </div>
    
                    </div>
                     <div class="col-md-6"> <br>
                      <img src="images/contact.png" alt="" class="main-img">
                    </div>
                </div>
          </div>
          </div> 
        </div>
    <!--main sect end-->
    <%-include('partials/thankspopup')-%>
    <!--card start-->
<div style="height: 80px;"></div>
    <div class="container">
        <div class="row">
           
           <div class="col-md-3 card-box">
            <center class="pp">
            <div class="cir">
                <i class="fa fa-map-marker map" aria-hidden="true"></i>
               </div>
            </center>
               <div>
                <center><b class="our"> <p></p> Our Address</b></center>
                
                <center class="add">
                   <br> 118 Singanayakanahalli Yelahanka Hobli Bangalore North, near Navachethana School, Bangalore, Karnataka-560064, India</center>
               </div>
           </div>
           <div class="col-md-1 "></div>
<!--2 box-->
           <div class="col-md-3 card-box">
            <center class="pp">
                <div class="cir">
                    <i class="fa fa-phone map1" aria-hidden="true"></i>
                   </div>
                </center>
                   <div>
                    <center><b class="our"> <p></p> Our Address</b></center>
                    
                    <center class="add">
                       <br> 118 Singanayakanahalli Yelahanka Hobli Bangalore North, near Navachethana School, Bangalore, Karnataka-560064, India</center>
                   </div>
           </div>
           <div class="col-md-1 "></div>
           <div class="col-md-3 card-box">
            <center class="pp">
                <div class="cir">
                    <i class="fa fa-envelope map2" aria-hidden="true"></i>
                   </div>
                </center>
                   <div>
                    <center><b class="our"> <p></p> Our Address</b></center>
                    
                    <center class="add">
                       <br> 118 Singanayakanahalli Yelahanka Hobli Bangalore North, near Navachethana School, Bangalore, Karnataka-560064, India</center>
                   </div>
           </div>
    </div>
        </div>


<!--card end-->
<div style="height: 80px;"></div>

<div class="container">
    <div class="discover">
     <b class="location"> Get In Touch</b>
    </div>
</div>
<!--Get in touch-->

<div class="container">
   
 <div class="row form">
    <b class="form-com"> Contact Us</b> <br>
    <form class="form-set" method="post">
       
            <div class="col-md- 12 name">
             <b>  <label> <br>  Name*</label>  </b> 
            </div>
            <div class="col-md-12 ">
                <input type="text" class="place" placeholder="" name="name" required>
            </div>
            <br>
            <div class="col-md- 12 name">
                <b>  <label>E-mail*</label>  </b> 
               </div>
               <div class="col-md-12 ">
                   <input type="e-mail" class="place" placeholder="" name="email" required>
               </div>
               <br>

               <div class="col-md- 12 name">
                   <b>  <label>Phone Number*</label>  </b> 
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                  <div class="col-sm-1 col-md-1 col-lg-1  ">
                      <select class="place" name="countrycode">
                        <option value="+91">+91</option>
                        <option value="+31">+31</option>
                        <option value="+02">+02</option>
                        <option value="+15">+15</option>
                    </select>
                  </div>
                  <div class="col-md-11 ">
                    <input type="text" class="place" placeholder="" name="phone" required>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md- 12 name">
            <b>  <label>Location*</label>  </b> 
           </div>
           <div class="col-md-12 ">
               <input type="text" class="place" placeholder="" name="location" required>
           </div>
           <br>
           <div class="col-md- 12 name">
            <b>  <label>Query*</label>  </b> 
           </div>
           <div class="col-md-12 ">
            <select class="place" name="query">
                
                <option class="choose"> Choose the Query Type</option>
                <option value="Business Inquiry" >Business Inquiry</option>
                <option value="Complaint">Complaint </option>
                <option value="Suggestion">Suggestion </option>
                <option value="Feedback">Feedback</option>
                <option value="Career"> Career </option>
            </select>
           </div>
           <br>
           <div class="col-md- 12 name">
            <b>  <label>Message*</label>  </b> 
           </div>
           <div class="col-md-12 ">
               <input type="text" class="place" placeholder="" name="message" required>
           </div>
           <br>
           <button class="btn text-white rounded-3 submit" type="submit">Submit</button>
    </form>
   </div>
</div>
<%-include('partials/footer')-%>
<script>
    var thankspopupstatus = '<%=message%>';
    if(thankspopupstatus=='false')
    {
        document.getElementById('thankspopup').style.display='none'
    }
    document.getElementById('closethankspopup').addEventListener('click',function()
     {
        document.getElementById('thankspopup').style.display='none'
     })
</script>