<%-include('partials/header')-%>
<link rel="stylesheet" href="../assets/home.css">
 <!--Popup Page -->
 <div class="popup" id="popuppage">
  <div>
    <div class="firstdivpop">
      <h1>Select Your City</h1>
      <a href="#" id="closePopup">
        <h1 style="margin-left: 350px;">X</h1>
      </a>
    </div>
    <div class="popsearch">
      <input type="text">
    </div>
  </div>

  <div class="popupcities">
    <div class="cities">
      <img src="images/mumbai.jfif" alt=""> <br><br>
      <h1><a>Delhi</a></h1>
    </div>
    <div class="cities">
      <img src="images/mumbaicity.jfif" alt=""> <br><br>
      <h1><a>Mumbai</a></h1>
    </div>
    <div class="cities">
      <img src="images/banglore.jfif" alt=""> <br><br>
      <h1><a>Bangalore</a></h1>
    </div>
    <div class="cities">
      <img src="images/chennai.jfif" alt=""> <br><br>
      <h1><a>Chennai</a></h1>
    </div>
    <div class="cities">
      <img src="images/kolkata.jfif" alt=""> <br><br>
      <h1><a>Kolkata</a></h1>
    </div>
    <div class="cities">
      <img src="images/hyderabad.jfif" alt=""> <br><br>
      <h1><a>Hyderabad</a></h1>
    </div>
    <div class="cities">
      <img src="images/ranchi.jfif" alt=""> <br><br>
      <h1><a>Ranchi</a></h1>
    </div>
    <div class="cities">
      <img src="images/pune.jfif" alt=""> <br><br>
      <h1><a>Pune</a></h1>
    </div>
    <div class="cities">
      <img src="images/ahmedabad.jfif" alt=""> <br><br>
      <h1><a>Ahmedabad</a></h1>
    </div>
  </div>
</div>

<!--PopUp End-->
<body id="bodybackground">
  <!--NAV END-->
 

  <div class="container-fluid">
    <div style="height: 150px; background-color:white; width:100%"></div>
    <div class="top d-block d-sm-block d-md-block d-lg-block bg-header">
      <div class="row">

        <div class="col-md-6"> <!--frame18-->
          <div class="top_left" id="land1"> <br><br><br>
            <b class="moving">Let's Get You</b>
            <p class="moving">Moving!</p>

            <b class="regular">Find, compare, and hire certified and <br> exprienced movers in one location.</b>
            <br> <br>
            <p class="regular1">Save time and money by connecting with us to help <br> set up your utiliies, find movers
              and other services</p>

            <button class="btn rounded-3 text-white call" type="button">Schedule A Call</button>
          </div>

        </div>
        <div class="col-md-6"> <br>
          <img src="images/4385965_20342.png" alt="" class="main-img">
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--main sect end-->

  <div class="container-fluid">
    <div class="discover">
      <b class="location"> Discover Your Relocation options</b>
    </div>
  </div>
  <!--Discover Your Relocation options end-->

  <div class="container re" >
    <div class="row box">

       
      <div class="col-md-6 col-lg-3">
        <img src="images/Mask group.png" alt=""> <br><br>
        <small class="boxes">Local</small> <br>
        <small class="boxes"> Move</small>
      </div>
      <div class="col-md-6 col-lg-3">
        <img src="images/Group 60.png" alt=""> <br><br>
        <small class="boxes">Domestic </small><br>
        <small class="boxes13"> Move</small>
      </div>

      <div class="col-md-6 col-lg-3">
        <img src="images/Mask group.png" alt=""> <br><br>
        <small class="box-int">International <br> </small>
        <small class="boxes11"> Move</small>
      </div>
      <div class="col-md-6 col-lg-3">
        <img src="images/Mask group (1).png" alt=""> <br><br>
        <small class="box-int">Warehouse & Car</small> <br>
        <small class="boxes12">Transportation</small>
      </div>

    </div>
  </div>
  <!--end boxes-->
  <div style="height: 45px; "></div>
  <div class="container-fluid">
    <div class="discover">
      <b class="location"> Get ready to plan your route to your new city!</b>
    </div>
  </div>
  <!--Get Ready end-->

  <div style="height: 25px; "></div>
  <div class="container-fluid">
    <div class="container">
      <div class="row rectangle">


        <div class="col-md-3 col-lg-3 rect"><br><br>
          <img class="rect-img" src="images/Group 39.png" alt=""> <br><br> <br><br><br>
          <div class="qq"> <center class="mov"><br > Moving <br></center>
            <small class="local"><br> Local Movers • Domestic Movers • Top Relocation Companies • Relocation <br> Deals & Discounts
            </small>
          </div>
        </div>

        <div class="col-md-4 col-lg-1 "></div>

        <div class="col-md-3 col-lg-3 rect"><br><br>
          <img class="rect-img1" src="images/g12.png" alt=""> <br><br>
          <div class="qq">  <center class="mov"><br > Planning <br></center>
            <small class="local"><br> Checklist • Easy packing <br> •Way to Buy Packing Materials • Relocation Paper Work Explain
            </small>
          </div>
        </div>

        <div class="col-md-4 col-lg-1 "></div>

        <div class="col-md-3 col-lg-3 rect"><br><br>
          <img class="rect-img" src="images/Group 38.png" alt=""> <br><br> <br>
          <div class="qq"> <center class="mov"><br >Deciding Home <br></center>
            <small class="local"><br> Utility & Handyman Services 
              • Most Expensive Cities • Sunniest Cities in India • Lowest Cost of Living by Cities
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--END 3 BOX-->
  <div style="height: 180px; "></div>

  <div class="container-fluid">
    <div class="discover">
      <b class="location"> Covid-19 Resources</b>

    </div>
  </div>
  <!--Covid 19 end--><!--END 3 BOX-->

  <div class="container-fluid">
    <div class="covid">
      <div class="row">

        <div class="col-md-3 col-lg-3 mask">
          <div>
            <img src="images/Group-Mask.png" alt="" class="grp-mask1">
          </div>

        </div>
        <div class="col-md-8 col-lg-8 mask-write"><br> Pick N Track has made a feeling of trust and inner serenity
          around home moving. Particularly during a difficult time like this, our responsibility hasn't faltered and has
          developed considerably further."Wellbeing First" is at the center of all that we do, and each colleague is
          committed to playing out your move rapidly and securely. As we have attempted to adjust and immediately think
          of new Process, the wellbeing of our clients and teams have been top of brain regardless of anything else.
        </div>
        <div class="col-md-1 col-lg-1"></div>

      </div>
    </div>
  </div>

  <!--END MASK BOX-->
  <div style="height: 85px; "></div>

  <div class="container-fluid">
    <div class="discover">
      <b class="location1"> We Are Accredited</b>
    </div>
  </div>

  <div class="container-fluid pickNTrack">
    <div class="discover">
      <b class="location"> Pick N Track <br><br></b>

    </div>
  </div>
  <!--Acceriteds end-->

  <!--strt pick n track -->
  <div class="container-fluid">
    <div class="covid">
      <div class="row">
        <div class="col-md-1 col-lg-1"></div>

        <div class="col-md-8 col-lg-8 mask-write"> Pick And Track offers secure and genuine relocation services. We have
          accredited Shifting partners across India, who will convey your No.1 household & corporate moving Services for
          local home packing moving and domestic as well as international relocation services. Straight forwardly
          interface with top packers and movers close by you, and get fast charges assessment from best Packers and
          Movers from your area, look at rates, evaluations, and surveys. You can contact anyone else or request that we
          observe the best match close by packers movers company...
          <br><br> <br>
          <button class="btn rounded-3 text-white Enquiry" type="button"><b>Quick Enquiry </b></button>

        </div>


        <div class="col-md-2 col-lg-2">
          <div>
            <img src="images/aeroplane.png" alt="" class="grp-mask1">
          </div>
        </div>

      </div>
    </div>
  </div>


  <!--end pick N tracks-->
  <div style="height: 140px; "></div>

  <div class="container-fluid">
    <div class="row top-pick">

      <div class="Top"> <br> Top <b id="mfimovers">#mfimovers </b> in the country </div>

      <div class="col-md-1"></div>

      <div class="col-md-11 looking"> Looking for relocation companies in your area? Check out our #mfimovers hubwhere
        we've vetted the top relocation <br> companies in major cities and states across India. <br>
        Explore top movers inn:- Ahmedabad | Bangalore | Chandigarh | Delhi/NCR | Kolkata | Mumbai | Pune...
      </div>
    </div>

    <div class="col-md-1"></div>
  </div>
  <!--TOP end
  <div style="height: 40px; "></div>
  <div class="container-fluid">
    <div class="discover">
      <b class="location"> Our Work Process</b>
    </div>
  </div> -->
  <!--WORK PROCESS end-->

<!--
  <div class="container">
    <div class="row box">

      <div class="col-md-6 col-lg-3">
        <img src="images/Group 57.png" alt=""> <br><br>
        <small class="grp57"> Company Registration</small> <br>

      </div>
      <div class="col-md-6 col-lg-3">
        <img src="images/Group 56.png" alt=""> <br><br>
        <small class="grp58">Survey </small><br>

      </div>
      <div class="col-md-6 col-lg-3">
        <img src="images/Group 55.png" alt=""> <br><br>
        <small class="grp57"> Document Verification <br> </small>

      </div>
      <div class="col-md-6 col-lg-3">
        <img src="images/Group 54.png" alt=""> <br><br>
        <small class="grp58">Approval</small> <br>

      </div>

    </div>
  </div>  -->

  <!--number end-->
  <div style="height: 40px; "></div>
  <div class="container-fluid">
    <div class="discover">
      <b class="location">What Our Customers Say About Us! </b>
    </div>
  </div>
  <!--Customer end-->



  <div class="container-fluid">
    <div class="row">
      <div id="top">
        <div class="main-scroll-div">
          <div>
            <button class="btn-icon" onclick="scrolll()"><i class="fa fa-angle-left group235"></i></button>
          </div>
          <div class="cover">
            <div class="scroll-images">

              <!--17-->

              <div class="child">
                <img class="child-img" src="images/Vector 17.png" alt="">
                <img class="child-img1" src="images/Vector 18.png" alt="">
                <div class="name">Ayanjyoti Chakrabarti <br><br></div>
                <div class="com-name">I had used the service of MFI's Pick N Track - Bangalore for my house shifting.
                  They delivered timely service. Took care of my movement requirements end-end. Needed no or minimum
                  supervision. Packing material used were of high standard, resulting no damage delivery. My requirement
                  had the complexity of moving big articles through stairs to 8th floor, which was handled very
                  efficiently.In summary, I was fully satisfied with the service received and would recommend others.
                </div>
              </div>

              <!--18-->



            </div>
          </div>
          <div><button class="btn-icon" onclick="scrollr()"><i class="fa fa-angle-right group236"></i></button></div>
        </div>
      </div>
      <!--scrollig end-->

      <div class="container-fluid">
        <div class="discover">
          <img src="images/Ellipse 39.png" alt=""> &nbsp;
          <img src="images/Ellipse 41.png" alt=""> &nbsp;
          <img src="images/Ellipse 41.png" alt="">
        </div>
      </div>
      <!--Points end-->

    
  
      <%-include('partials/footer')-%>




</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script>
  function scrolll() {
    var right = document.querySelector(".scroll-images")
    right.scrollBy(-350, 0)

  }
  function scrollr() {
    var left = document.querySelector(".scroll-images")
    left.scrollBy(350, 0)
  }
  function prt() {
    document.getElementById('popuppage').style.display = 'block';

  }
  setTimeout(prt, 000);
  document.getElementById("closePopup")
    .addEventListener("click", function () {
      document.getElementById('popuppage').style.display = 'none';
    });
</script>

</html>