<%-include('partials/header')-%>

<style>
    .document
    {
        margin-top: 150px;
        display: flex;
        justify-content: center;
    }
</style>
<div class="document">
    <embed src=
    "../public/images/PicknTrack privacy policy.pdf"
                    width="1300" 
                    height="1800">
        
    
</div>
<footer>
  <div  style="width: 97.9vw;">
    <div class="row">
      <div class="col-md-3 foot-box">
        <h4 style="color: #fff;" class="site">Sitemap</h4>
        <a href="/" class="decoration">
          <div class="site">Home</div>
        </a>
        <a href="/about" class="decoration">
          <div class="site">About</div>
        </a>
        <a href="/contact" class="decoration">
          <div class="site">Contact Us</div>
        </a>
        <hr>
      </div>

      <div class="col-md-3 foot-box">
        <h4 style="color:#fff;" class="site">Support</h4>
        <a href="/" class="decoration">
          <div class="site">Disclamier</div>
        </a>
        <a href="/" class="decoration">
          <div class="site">FAQ's</div>
        </a>
        <a href="/privacy" class="decoration">
          <div class="site">Privacy Policy</div>
        </a>
        <a href="/tandc" class="decoration">
          <div class="site">Terms and Conditions</div>
        </a>
      </div>
      <div class="col-md-3 foot-box">
        <h4 class="site">Customer Care</h4>
        <b class="decoration">
          <div class="site">Timings: 10AM-6PM (Mon-Sat)</div>
        </b>
        <b  class="decoration">
          <div class="site">Call: +91 9538531818</div>
        </b>
        <b class="decoration1">
          <div class="site">Email: <a href="mailto:info@pickntrack.com" class="decoration1" >info@pickntrack.com</a> /
            <a href="mailto:pickntrack@gmail.com" class="decoration1">
            pickntrack@gmail.com 
          </a></div>
        </b>
      </div>
      <div class="col-md-3 foot-box">
        <h4 class="site">Subscribe</h4>
        <b  class="decoration1">
          <div class="site">Want to receive amazing updates </div>
          <div class="site"> from Pick’N Track?</div>
        </b>
     

        <div class="main">

          <div class="contants"> <br>
            <div class="alice-bg  d-block d-xs-block d-sm-block d-md-block d-lg-block d-xl-block se">
              <div class="search1">
                <div class=" search_in1">
                  <img src="images/mail.png" class="mail" alt="">  
                  <input class="d-block  d-xs-block d-sm-block d-md-block d-lg-block d-xl-block  search1"
                   style="padding-left: 30px;" type="search" placeholder="Enter your email">
               
                </div>
               
              </div>
            </div>
            <img src="images/arrow_forward.png" alt="" class="arrow">  
            <img src="images/Line 16.png" alt="" class="playline">
            <div style="color: #fff; " class="site">Pick N Track App coming Soon On Google Play & Apple Store</div> 
            <br>
            <img src="images/play-store.png" alt="" class="siteplay">
        <!--<small href="" class=" fafa-apple" style=" margin-top:40px;"><i class="fa fa-apple" aria-hidden="true"></i> </small> -->
             <img src="images/vector.png" alt="" class="siteplayapple">
          </div>
      
        </div>   <!--main end-->
     
      </div>
      
    </div>
  </div>

</div>
<!--copy right-->

</footer>
<div class="footer-foot" style="width:100vw">
<div class="footer-foot-item">
<b href="" class="fafa-foot"><i class="m-2 bi bi-twitter"></i></b>
<b href="" class="fafa-foot"><i class="m-2 bi bi-facebook"></i></b>
<b href="" class="fafa-foot"><i class="m-2 fa fa-linkedin-square " style="font-size:26px"></i> </b>
<b href="" class="fafa-foot"><i class="m-2 fa fa-pinterest" aria-hidden="true"></i></b>
<b href="" class="fafa-foot"><i class="m-2 fa fa-youtube-play" aria-hidden="true"></i></b>

</div>
<div class="cprt" >
<p style="color:#fff; font-size:14px;">Copyright © 2020 All rights reserved.</p>

</div>
<img src="images/razor.png" alt="" class="razor">
</div>