<%-include('partials/header')-%>
<style>
    .document
    {
        margin-top: 150px;
        display: flex;
        justify-content: center;
    }
</style>
<div class="document">
    <embed src=
    "../public/images/Terms and Conditions.pdf"
                    width="1300" 
                    height="1800">
        
    
</div>
<%-include('partials/footer')-%>