<%-include('partials/header')-%>
<div>
    <h1>PRIVACY POLICY</h1>
    <p>
        
            Pick N Track (“We” or “Our” or “Us” or “Company” or “PNT”) is a company which provides various technology-related services/platforms under the brand name ‘Pick N Track.

            Please read this privacy policy carefully while accessing or using the website/mobile application of Pick N Track or any other platform/tool developed by PNT. You agree to be bound by the terms described herein. Using or accessing of Pickntrack’s website/mobile application/platform/tool will be considered as a deemed acceptance of this policy.

    </p>
    <h1>Introduction:</h1>
    <p>
        This privacy policy (“Privacy Policy”) applies to the use or access of the domain name/website www.pickntrack.com, Pickntrack’s mobile application and any of the platforms/tools developed by PNT from time to time. The Privacy Policy constitutes an integral part of the agreements/terms and conditions of use between PNT and its merchants and users/customers.
         The website, mobile application and platforms/tools developed by Pick N Track are individually referred to as the “Platform”. 
    </p>
    <p>
        
        The Platform(s) inter-alia facilitates a 
        more comfortable form of e-commerce/warehousing/relocation-(Movers & Packers) & 
        supply-chain distribution in relation to various technology-related services including but not limited to logistics management services/solutions and checkout services (“Services”).

    </p>
    <p>
        
    </p>
</div>
<%-include('partials/footer')-%>